body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
  position: relative;
  background: rgb(250,244,182);
  background: linear-gradient(90deg, rgba(250,244,182,1) 0%, rgba(255,238,180,1) 100%);
  min-height: 100vh;
  min-width: 100vw;  
}

body:after {
  content: "";
  background: url('./images/wp.jpg');  
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
